<!DOCTYPE html>
<html>
<head>
  <title>Battle Pets</title>
  
<body>
    <div>
      <h1>Welcome to Battle Pets <%= @admin_user.username %>!</h1>      

      <h2>Permission: <%= @admin_user.permission %></h2>
      <h2>Status: <%= @admin_user.status %></h2>

      <p>
    </div>
</body>
</html>
